.ward,#amount {
    display: inline-block;
}

#titleText{
    font-size:60px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    position:relative;
    padding:5px;
    text-align:center;
    color:white;
    margin-bottom:10px;
    background:#6dcdf3;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
    background-image: -webkit-gradient(linear, left top, left bottom,
    from( rgba(0, 0, 0, 0.0)),
    color-stop(0.08, rgba(255, 255, 255, 0.5)),
    color-stop(0.12, rgba(255, 255, 255, 0.5)),
    color-stop(0.12, rgba(0, 0, 0, 0.0)),
    color-stop(0.88, rgba(0, 0, 0, 0.0)),
    color-stop(0.88, rgba(255, 255, 255, 0.5)),
    color-stop(0.92, rgba(255, 255, 255, 0.5)),
    color-stop(0.92, rgba(0, 0, 0, 0.0)),
    to( rgba(0, 0, 0, 0.0))
    );
    background-image: -moz-linear-gradient(top,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    background-image: -o-linear-gradient(top,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    background-image: linear-gradient(to bottom,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    }
    .mawarikomi:before{
    content:" ";
    position:absolute;
    top:-5px;
    left:0;
    width:0;
    height:0;
    border-width:0 0 5px 10px;
    border-style:solid;
    border-color:transparent;
    border-bottom-color:#c66;
}

input{
    width:120px;
    font-size:60px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

div{
    font-size:60px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#day{
    font-size:40px;
}

#mondaiserect,#buttondiv,#mondaidiv{
    width:1000px;
    text-align: center;
}

#create,#next{
    margin:20px;
}
button {
    font-size:60px;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  
  button:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
