.ward {
    display: inline-block;
}

#titleText{
    font-size:40px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    position:relative;
    padding:5px;
    text-align:center;
    color:#ffe8e8;
    margin-bottom:10px;
    background:#4169e1;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
    background-image: -webkit-gradient(linear, left top, left bottom,
    from( rgba(0, 0, 0, 0.0)),
    color-stop(0.08, rgba(255, 255, 255, 0.5)),
    color-stop(0.12, rgba(255, 255, 255, 0.5)),
    color-stop(0.12, rgba(0, 0, 0, 0.0)),
    color-stop(0.88, rgba(0, 0, 0, 0.0)),
    color-stop(0.88, rgba(255, 255, 255, 0.5)),
    color-stop(0.92, rgba(255, 255, 255, 0.5)),
    color-stop(0.92, rgba(0, 0, 0, 0.0)),
    to( rgba(0, 0, 0, 0.0))
    );
    background-image: -moz-linear-gradient(top,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    background-image: -o-linear-gradient(top,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    background-image: linear-gradient(to bottom,
    transparent 8%,
    rgba(255, 255, 255, 0.5) 8%,
    rgba(255, 255, 255, 0.5) 12%,
    transparent 12%,
    transparent 88%,
    rgba(255, 255, 255, 0.5) 88%,
    rgba(255, 255, 255, 0.5) 92%,
    transparent 92%
    );
    }
    .mawarikomi:before{
    content:" ";
    position:absolute;
    top:-5px;
    left:0;
    width:0;
    height:0;
    border-width:0 0 5px 10px;
    border-style:solid;
    border-color:transparent;
    border-bottom-color:#c66;
}
#start {
    font-size:30px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
    #start:hover {
    /* 背景色を明るい青色に指定 */
    background-color: rgb(252, 94, 94);

    /* 文字色を白色に指定 */
    color: #fff;
}  
 
#stop {
    font-size:30px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #stop:hover {
    /* 背景色を明るい青色に指定 */
    background-color: rgb(252, 94, 94);

    /* 文字色を白色に指定 */
    color: #fff;
}  

#reset {
    font-size:30px;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  #reset:hover {
    /* 背景色を明るい青色に指定 */
    background-color: rgb(252, 94, 94);

    /* 文字色を白色に指定 */
    color: #fff;
} 
   
#inputTime{
    font-size:20px;
    text-align: center;
    width:45px;
}

#restTime{
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
    font-size:40px;
    width:100%;
    text-align: center;
}

#timer{
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; 
    font-size:100px;
    width:100%;
    text-align: center;
}

#odaiSet, #buttonSet{
    width:100%;
    text-align: center;
}
#minSet {
    text-align: right;
}
#odai {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    margin-top:20px;
    font-size:60px;
}
#contents {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size:100px;
}

#beer1 {
    position: absolute;
    top:100px;
    left:280px;    
}

#beer1.move1 {
    animation-name: beer1;
    animation-duration: 1.5s
}        

#beer2 {
    position: absolute;
    top:100px;
    left:920px;
}

#beer2.move2 {
    animation-name: beer2;
    animation-duration: 1.5s
}        

@keyframes beer1{
    from {
        left:280px;
        top:100px;
    }
    25% {
        left:580px;
        top:100px
    }
    28% {
        left:480px;
        top:50px;
    }
    50% {
        left:440px;
        top:25px;
    }    
    to {
        left:280px;
        top:100px;
    }
}

@keyframes beer2{
    from {
        left:920px;
        top:100px;
    }
    25% {
        left:620px;
        top:100px
    }
    28% {
        left:720px;
        top:50px;
    }
    50% {
        left:760px;
        top:25px;
    }
    to {
        left:920px;
        top:100px;
    }
}
#kanpai1, #kanpai2{
    opacity:0;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top:120px;
    font-size: 100px;
}
#kanpai1.move11 {
    animation-name: kanpai1;
    animation-duration: 1.5s
}

#kanpai2.move22 {
    animation-name: kanpai2;
    animation-duration: 1.5s
}

@keyframes kanpai1{
    from {
        opacity: 0;
        left:300px;
        top:120px
    }
    25% {
        opacity: 1;
        left:300px;
        top:120px;
    }    
    to {
        opacity: 0;
        left:300px;
        top:120px
    }
}
@keyframes kanpai2{
    from {
        opacity: 0;
        left:900px;
        top:120px
    }
    25% {
        opacity: 1;
        left:900px;
        top:120px;
    }    
    to {
        opacity: 0;
        left:900px;
        top:120px;
    }
}      
